body {
  direction: rtl;
  padding: 4rem 0 0;
  text-align: center;
  font-family: 'Miriam Libre', sans-serif;
  /* background: rgba(0,0,0,.1); */
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

a, button, nav label {
  color: purple;
}

header {
  user-select: none;
  background: rgba(255,255,255,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  direction: ltr;
  text-align: left;
  /* border-bottom: 1px solid; */
  box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}

header h1 {
  /* border-right: 1px solid; */
  text-align: left;
  font-size: 2vh;
  padding: 0 1rem;
  letter-spacing: 1px;
  margin: 0;
  line-height: 3rem;
  text-transform: uppercase;
}

header p {
  color: #404040;
  font-size: .8rem;
  text-transform: lowercase;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  display: block;
}

header h1, header p {
  display: inline-block;
}

nav {
  text-align: center;
  font-size: .8rem;
  line-height: 3rem;
  float: right;
  margin-right: 1rem;
  /* border-left: 1px solid; */
}
nav ul {
  display: inline-block;
  
}
nav ul li {
  line-height: 1rem;
  display: inline-block;
  margin: 0 0 0 1rem;
  padding: 0;
  list-style: none;
  border-radius: 6px;
}

nav b,
nav button {
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 6px;
}
nav label {
  font-size: .7rem;
}
nav label b {
  font-weight: 100;
  margin: 0 .25rem;
}

nav input {
  text-align: center;
  border: none;
  position: relative;
  width: 100px;
  font-family: 'Miriam Libre', sans-serif;
  direction: ltr;
  background: rgba(0,0,0,.5);
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
}

nav input:focus {
  outline: 0;
  background: purple;
  color: #fff;
}

button:hover {
  background: purple;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

header ~ label {
  counter-increment: my-counter;
  cursor: pointer;
  transition: all 250ms ease-in;
  transform: rotate(0deg);
}

header ~ label span::before {
  display: inline-block;
  content: counter(my-counter, disc);
  direction: rtl;
  border-radius: 10rem;
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  font-weight: 100;
  margin: .25rem;
  font-size: 1.5rem;
  font-family: 'Bellefair', serif;
}

header ~ label span:hover::before {
  position: relative;
  background: blue;
  color: #fff;
}

/* label > input:first-child:checked ~ span::before {
  content: counter(my-counter, hebrew);
} */
input:first-child:checked ~ span::before {
  color: green;
  background: lightgreen;
  direction: rtl;
  /* transition: all 225ms ease-in-out; */
  box-shadow: 0 0 0 0rem rgba(0,0,0,.0);
  /* transform: rotate(3600deg); */
}

header ~ label:nth-child(2n+0) span::before {
  /* border: 5px solid blue; */
  text-indent: -6px;
  left: 3px;
  background: red;
}
header ~ label:nth-child(2n+1) span::before {
  /* border: 5px solid red; */
  text-indent: 6px;
  left: -3px;
}
header ~ label span::before {
  /* box-shadow: inset 0 0 1rem rgba(0, 0, 0, 1); */
  /* box-shadow: 0 0 0 transparent; */
  font-weight: 100;
  opacity: .2;
  position: relative;
  /* left: -100px; */
  transition: all 425ms ease-in-out;
}
header ~ label[data-tracked] span::before {
  /* opacity: 0; */
  /* box-shadow: inset 0 0 10rem 10rem rgba(0, 0, 0, 1) */
  text-indent: 0;
  left: 0;
  /* box-shadow: inset 0 0 100rem #000; */
  /* font-weight: 900; */
}


body[data-list-type="decimal"] label span::before {
  content: counter(my-counter, decimal);
}
body[data-list-type="decimal-leading-zero"] label span::before {
  content: counter(my-counter, decimal-leading-zero);
}
body[data-list-type="arabic-indic"] label span::before {
  content: counter(my-counter, arabic-indic);
}
body[data-list-type="armenian"] label span::before {
  content: counter(my-counter, armenian);
}
body[data-list-type="upper-armenian"] label span::before {
  content: counter(my-counter, upper-armenian);
}
body[data-list-type="lower-armenian"] label span::before {
  content: counter(my-counter, lower-armenian);
}
body[data-list-type="bengali"] label span::before {
  content: counter(my-counter, bengali);
}
body[data-list-type="cambodian"] label span::before {
  content: counter(my-counter, cambodian);
}
body[data-list-type="khmer"] label span::before {
  content: counter(my-counter, khmer);
}
body[data-list-type="cjk-decimal"] label span::before {
  content: counter(my-counter, cjk-decimal);
}
body[data-list-type="devanagari"] label span::before {
  content: counter(my-counter, devanagari);
}
body[data-list-type="georgian"] label span::before {
  content: counter(my-counter, georgian);
}
body[data-list-type="gujarati"] label span::before {
  content: counter(my-counter, gujarati);
}
body[data-list-type="gurmukhi"] label span::before {
  content: counter(my-counter, gurmukhi);
}
body[data-list-type="hebrew"] label span::before {
  content: counter(my-counter, hebrew);
}
body[data-list-type="kannada"] label span::before {
  content: counter(my-counter, kannada);
}
body[data-list-type="lao"] label span::before {
  content: counter(my-counter, lao);
}
body[data-list-type="malayalam"] label span::before {
  content: counter(my-counter, malayalam);
}
body[data-list-type="mongolian"] label span::before {
  content: counter(my-counter, mongolian);
}
body[data-list-type="myanmar"] label span::before {
  content: counter(my-counter, myanmar);
}
body[data-list-type="oriya"] label span::before {
  content: counter(my-counter, oriya);
}
body[data-list-type="persian"] label span::before {
  content: counter(my-counter, persian);
}
body[data-list-type="lower-roman"] label span::before {
  content: counter(my-counter, lower-roman);
}
body[data-list-type="upper-roman"] label span::before {
  content: counter(my-counter, upper-roman);
}
body[data-list-type="tamil"] label span::before {
  content: counter(my-counter, tamil);
}
body[data-list-type="telugu"] label span::before {
  content: counter(my-counter, telugu);
}
body[data-list-type="thai"] label span::before {
  content: counter(my-counter, thai);
}
body[data-list-type="tibetan"] label span::before {
  content: counter(my-counter, tibetan);
}


.status {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

[data-tracked="tracked"] {
  /* transition: all 500ms ease-in; */
  opacity: .8;
}

/* [data-tracked="tracked"] span::before {
  transform: rotate(360000deg);
} */
[data-tracked="tracked"] input:first-child:checked ~ span::before {
  /* background: rgba(0,0,0,.5); */
  opacity: 1;
  /* color: white; */
  /* box-shadow: 0 0 0 2rem rgba(0,0,0,.5); */
}

