body {
  direction: rtl;
  padding: 4rem 0 0;
  text-align: center;
  font-family: 'Miriam Libre', sans-serif;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

a, button, nav label {
  color: purple;
}

header {
  user-select: none;
  background: rgba(255,255,255,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  direction: ltr;
  text-align: left;
  border-bottom: 1px solid;
}

header h1 {
  border-right: 1px solid;
  text-align: left;
  font-size: 1rem;
  padding: 0 1rem;
  letter-spacing: 1px;
  margin: 0;
  line-height: 3rem;
  text-transform: uppercase;
}

header p {
  color: #404040;
  font-size: .8rem;
  text-transform: lowercase;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  display: block;
}

header h1, header p {
  display: inline-block;
}

nav {
  text-align: center;
  font-size: .8rem;
  line-height: 3rem;
  float: right;
  margin-right: 1rem;
  border-left: 1px solid;
}
nav ul {
  display: inline-block;
  
}
nav ul li {
  line-height: 1rem;
  display: inline-block;
  margin: 0 0 0 1rem;
  padding: 0;
  list-style: none;
  border-radius: 6px;
}

nav b,
nav button {
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 6px;
}
nav label {
  font-size: .7rem;
}
nav label b {
  font-weight: 100;
  margin: 0 .25rem;
}

nav input {
  text-align: center;
  border: none;
  position: relative;
  width: 100px;
  font-family: 'Miriam Libre', sans-serif;
  direction: ltr;
  background: rgba(0,0,0,.5);
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
}

nav input:focus {
  outline: 0;
  background: purple;
  color: #fff;
}

button:hover {
  background: purple;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

header ~ label {
  counter-increment: my-counter;
  cursor: pointer;
  transition: all 5000ms ease-in;
  transform: rotate(0deg);
}

header ~ label span::before {
  display: inline-block;
  content: counter(my-counter, disc);
  direction: rtl;
  border-radius: 10rem;
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  font-weight: 900;
  margin: .25rem;
}

header ~ label span:hover::before {
  position: relative;
  background: blue;
  color: #fff;
}

input:first-child ~ span::before {
  /* transform: rotate(0deg); */
  transition: transform 225ms ease-in-out;
}

input:first-child:checked ~ span::before {
  color: green;
  background: lightgreen;
  content: counter(my-counter, hebrew);
  direction: rtl;
  transition: all 225ms ease-in-out;
  box-shadow: 0 0 0 0rem rgba(0,0,0,.0);
  /* transform: rotate(3600deg); */
}

.status {
  /* color: #f0f0f0; */
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

[data-tracked="tracked"] {
  /* transition: all 500ms ease-in; */
  opacity: 0;
}

[data-tracked="tracked"] span::before {
  transform: rotate(360000deg);
}
[data-tracked="tracked"] input:first-child:checked ~ span::before {
  background: gold;
  color: black;
  box-shadow: 0 0 0 2rem rgba(0,0,0,.5);
}

[data-tracked="trackedb"] input:first-child:checked ~ span::before {
  background: royalblue;
  color: black;
  box-shadow: 0 0 0 2rem rgba(0,0,0,.5);
}

/* [data-tracked="tracked-high"] span::before {
  background: red;

} */
